
.icon-kareui-th-list:before { content: '\e800'; } /* '' */
.icon-kareui-chat:before { content: '\e801'; } /* '' */
.icon-kareui-comment:before { content: '\e802'; } /* '' */
.icon-kareui-link:before { content: '\e803'; } /* '' */
.icon-kareui-mail:before { content: '\e804'; } /* '' */
.icon-kareui-heart:before { content: '\e805'; } /* '' */
.icon-kareui-heart-empty:before { content: '\e806'; } /* '' */
.icon-kareui-ok:before { content: '\e807'; } /* '' */
.icon-kareui-cancel:before { content: '\e808'; } /* '' */
.icon-kareui-home:before { content: '\e809'; } /* '' */
.icon-kareui-cog:before { content: '\e80a'; } /* '' */
.icon-kareui-folder:before { content: '\e80b'; } /* '' */
.icon-kareui-folder-open:before { content: '\e80c'; } /* '' */
.icon-kareui-trash-empty:before { content: '\e80d'; } /* '' */
.icon-kareui-down-open:before { content: '\e80e'; } /* '' */
.icon-kareui-left-open:before { content: '\e80f'; } /* '' */
.icon-kareui-right-open:before { content: '\e810'; } /* '' */
.icon-kareui-up-open:before { content: '\e811'; } /* '' */
.icon-kareui-cw:before { content: '\e812'; } /* '' */
.icon-kareui-bookmark:before { content: '\e813'; } /* '' */
.icon-kareui-plus:before { content: '\e814'; } /* '' */
.icon-kareui-minus:before { content: '\e815'; } /* '' */
.icon-kareui-down-open-big:before { content: '\e816'; } /* '' */
.icon-kareui-up-open-big:before { content: '\e817'; } /* '' */
.icon-kareui-down-open-1:before { content: '\e818'; } /* '' */
.icon-kareui-up-open-1:before { content: '\e819'; } /* '' */
.icon-kareui-info-circled:before { content: '\e81a'; } /* '' */
.icon-kareui-th-large:before { content: '\e81b'; } /* '' */
.icon-kareui-videocam:before { content: '\e81c'; } /* '' */
.icon-kareui-camera:before { content: '\e81d'; } /* '' */
.icon-kareui-tag:before { content: '\e81e'; } /* '' */
.icon-kareui-glass:before { content: '\e81f'; } /* '' */
.icon-kareui-leaf:before { content: '\e820'; } /* '' */
.icon-kareui-cancel-1:before { content: '\e821'; } /* '' */
.icon-kareui-th-large-1:before { content: '\e822'; } /* '' */
.icon-kareui-feather:before { content: '\e823'; } /* '' */
.icon-kareui-tag-1:before { content: '\e824'; } /* '' */
.icon-kareui-home-outline:before { content: '\e825'; } /* '' */
.icon-kareui-location-outline:before { content: '\e826'; } /* '' */
.icon-kareui-basket:before { content: '\e827'; } /* '' */
.icon-kareui-globe-alt-outline:before { content: '\e828'; } /* '' */
.icon-kareui-chart-pie-outline:before { content: '\e829'; } /* '' */
.icon-kareui-tree:before { content: '\e82a'; } /* '' */
.icon-kareui-looped-square-outline:before { content: '\e82b'; } /* '' */
.icon-kareui-shopping-cart:before { content: '\e82c'; } /* '' */
.icon-kareui-record-outline:before { content: '\e82d'; } /* '' */
.icon-kareui-minus-1:before { content: '\e82e'; } /* '' */
.icon-kareui-star:before { content: '\e82f'; } /* '' */
.icon-kareui-right-open-mini:before { content: '\e830'; } /* '' */
.icon-kareui-spin2:before { content: '\e831'; } /* '' */
.icon-kareui-close:before { content: '\e832'; } /* '' */
.icon-kareui-religious-jewish:before { content: '\e833'; } /* '' */
.icon-kareui-wf-img:before { content: '\e834'; } /* '' */
.icon-kareui-spin5:before { content: '\e838'; } /* '' */
.icon-kareui-link-ext:before { content: '\f08e'; } /* '' */
.icon-kareui-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-kareui-twitter:before { content: '\f099'; } /* '' */
.icon-kareui-menu:before { content: '\f0c9'; } /* '' */
.icon-kareui-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-kareui-linkedin:before { content: '\f0e1'; } /* '' */
.icon-kareui-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-kareui-angle-left:before { content: '\f104'; } /* '' */
.icon-kareui-angle-right:before { content: '\f105'; } /* '' */
.icon-kareui-angle-up:before { content: '\f106'; } /* '' */
.icon-kareui-angle-down:before { content: '\f107'; } /* '' */
.icon-kareui-folder-empty:before { content: '\f114'; } /* '' */
.icon-kareui-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-kareui-help:before { content: '\f128'; } /* '' */
.icon-kareui-info:before { content: '\f129'; } /* '' */
.icon-kareui-flickr:before { content: '\f16e'; } /* '' */
.icon-kareui-sun:before { content: '\f185'; } /* '' */
.icon-kareui-pagelines:before { content: '\f18c'; } /* '' */
.icon-kareui-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-kareui-behance:before { content: '\f1b4'; } /* '' */
.icon-kareui-file-code:before { content: '\f1c9'; } /* '' */
.icon-kareui-sliders:before { content: '\f1de'; } /* '' */
.icon-kareui-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-kareui-trash:before { content: '\f1f8'; } /* '' */
.icon-kareui-facebook-official:before { content: '\f230'; } /* '' */
.icon-kareui-wikipedia-w:before { content: '\f266'; } /* '' */
.icon-kareui-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-kareui-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-kareui-user-o:before { content: '\f2c0'; } /* '' */
.icon-kareui-id-card:before { content: '\f2c2'; } /* '' */
.icon-kareui-facebook-squared:before { content: '\f308'; } /* '' */
.icon-kareui-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-kareui-paypal-1:before { content: '\f342'; } /* '' */